<% layout('layout/page') -%>
<% block('title', "Game") -%>

<div ng-controller="GameController">
    <div id="room" class="room">
        The Game is under construction!!!
        <canvas id="canvas"></canvas>
    </div>
</div>
